
html {
    font-size: 10px;
    font-family: sans-serif;
}

html.mobile {
    font-size: 25px;
}

html, body, #app, .router-container {
    height: 100%;
}

body {
    margin: 0;
    overflow: hidden;
    font-size: 1.4rem;
}

p, a {
    margin: .7rem 0;
}

$h1_height: 3.6rem;
h1 {
    font-size: $h1_height;
    margin: $h1_height * .5 0;
}
html.mobile h1 {
    font-size: $h1_height * .85;
    margin: $h1_height * .5 * .85 0;
}

$h3_height: 2.4rem;
h3 {
    font-size: $h3_height;
    margin: $h3_height * .5 0;
}
html.mobile h3 {
    font-size: $h3_height * .8;
    margin: $h3_height*.5*.8 0;
}

$h4_height: 1.8rem;
h4 {
    font-size: $h4_height;
    margin: $h4_height * .5 0;
}

.router-container {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;

    //now flex as an item, not container
    flex: 0 0 auto;
}

html.mobile header {
    flex-wrap: wrap;
}

header h3 {
    flex-grow: 1;
    text-align: center;
}

main {
    flex: 1 1 auto;
    width: 90%;
    margin: 0 auto;
    overflow-y: auto;
    overflow-x: hidden;
}

a.active {
    text-decoration: underline;
}

section.title-and-side-data h1 {
    margin-bottom: $h1_height * .25;
}

.list a {
    padding-right: 2rem;
    background: url('../../images/divider.png') right 1rem center repeat-y;
}

.list a:last-child {
    background: none;
}

hr {
    width: 100%; //hack for flex
    border: 0;
    border-top: .1rem solid black;
    margin: 0;
}

section {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

section.title-and-side-data>span {
    padding-left: .5rem;
}

.icon.tomato {
    width: 3rem;
}
.icon.water, .icon.ruler {
    width: 4.3rem;
}

article h3 {
    flex-grow: 1;
    text-align: right;
    padding-right: 2rem;
}
html.mobile article h3 {
    padding-right: 0;
}

p.description {
    font-style: italic;
    width: 75%;
}
html.mobile p.description {
    width: 100%;
}

section.ghibli-details {
    display: flex;
    justify-content: center;
}

section.ghibli-details p {
    padding: 0 2rem;
}

details summary {
    padding: 1rem;
}

details h4 {
    display: inline;
    cursor: pointer;
}

p.list {
    padding-left: 2rem;
}

p.list span.divider {
    padding: 0 1rem;
}
