
body {

}

.header h3 {
    text-align: center;
}

.title-and-side-data-container h1 {
    display: inline;
}

.icon {
    display: inline;
}
.icon.tomato {
    width: 30px;
}

h3.title-far-side-data {
    text-align: right;
}

p.description {
    font-style: italic;
}

.details-container {
    text-align: center;
}

.details-container div {
    display: inline;
    font-size: 16px;
    padding: 0 20px;
}

.list-label-container h4 {
    text-align: right;
}

.list-container {
    padding-top: 10px;
    //manual adjustment to base-align with label
}

.list-container div {
    float: left;
}
.list-container span {
    border-right: 1px solid grey;
    padding: 0 10px;
}
.list-container div:last-child span {
    border-right: none;
}
